/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 0px;
    height: 0px;
    background-color: red;
    border: 1px solid white;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 350px;
    background-color: yellow;
}

#onderkant{
    width: 800px;
    height: 150px;
    background-color: darkblue
}

#middenkant{
    width: 800px;
    height: 150px;
    background-color: red

}

